@import 'tailwindcss/base';
@import 'tailwindcss/components';

@import '@syncfusion/ej2-base/styles/material3.css' screen;
@import '@syncfusion/ej2-buttons/styles/material3.css' screen;
@import '@syncfusion/ej2-calendars/styles/material3.css' screen;
@import '@syncfusion/ej2-dropdowns/styles/material3.css' screen;
@import '@syncfusion/ej2-inputs/styles/material3.css' screen;
@import '@syncfusion/ej2-lists/styles/material3.css' screen;
@import '@syncfusion/ej2-navigations/styles/material3.css' screen;
@import '@syncfusion/ej2-popups/styles/material3.css' screen;
@import '@syncfusion/ej2-splitbuttons/styles/material3.css' screen;
@import '@syncfusion/ej2-react-schedule/styles/material3.css' screen;
@import '@syncfusion/ej2-base/styles/material3-dark.css' screen and
  (prefers-color-scheme: dark);
@import '@syncfusion/ej2-buttons/styles/material3-dark.css' screen and
  (prefers-color-scheme: dark);
@import '@syncfusion/ej2-calendars/styles/material3-dark.css' screen and
  (prefers-color-scheme: dark);
@import '@syncfusion/ej2-dropdowns/styles/material3-dark.css' screen and
  (prefers-color-scheme: dark);
@import '@syncfusion/ej2-inputs/styles/material3-dark.css' screen and
  (prefers-color-scheme: dark);
@import '@syncfusion/ej2-lists/styles/material3-dark.css' screen and
  (prefers-color-scheme: dark);
@import '@syncfusion/ej2-navigations/styles/material3-dark.css' screen and
  (prefers-color-scheme: dark);
@import '@syncfusion/ej2-popups/styles/material3-dark.css' screen and
  (prefers-color-scheme: dark);
@import '@syncfusion/ej2-splitbuttons/styles/material3-dark.css' screen and
  (prefers-color-scheme: dark);
@import '@syncfusion/ej2-react-schedule/styles/material3-dark.css' screen and
  (prefers-color-scheme: dark);

@import 'tailwindcss/utilities';

html,
body,
#__next {
  padding: 0;
  margin: 0;
  height: 100%;
  width: 100%;
  background-image: url('../../public/background.png');
  background-size: cover;
  min-height: 100%;
  background-attachment: fixed;
}

* {
  box-sizing: border-box;
}

/*Hide header*/
.e-header-row:first-of-type {
  display: none;
}
/*Resourse group width*/
@media not screen(sm) {
  .e-resource-left-td {
    width: 8rem !important;
  }
  .e-resource-cells {
    padding-left: 0 !important;
    height: 10px !important; /* Forces smaller height */
  }
}
/*Loading skeleton*/
.e-appointment:has(.e-appointment-details div .loading-event) {
  background-color: transparent;
  border: none;
}
.e-appointment .e-appointment-details:has(div .loading-event) {
  padding: 0 !important;
}
.e-appointment .e-appointment-details div:has(.loading-event) {
  flex-grow: 1;
}
.e-appointment .e-appointment-details:has(div .loading-event) .e-indicator {
  display: none;
}

@layer utilities {
  .bg-lighten {
    background-color: rgba(255, 255, 255, 0.6);
  }
  .bg-darken {
    background-color: rgba(0, 0, 0, 0.6);
  }
}

.e-parent-node,
tr .e-resource-group-cells {
  height: 2.5em !important;
}
