@import 'tailwindcss/base';
@import 'tailwindcss/components';

@import '@syncfusion/ej2-base/styles/material3.css' screen;
@import '@syncfusion/ej2-buttons/styles/material3.css' screen;
@import '@syncfusion/ej2-calendars/styles/material3.css' screen;
@import '@syncfusion/ej2-dropdowns/styles/material3.css' screen;
@import '@syncfusion/ej2-inputs/styles/material3.css' screen;
@import '@syncfusion/ej2-lists/styles/material3.css' screen;
@import '@syncfusion/ej2-navigations/styles/material3.css' screen;
@import '@syncfusion/ej2-popups/styles/material3.css' screen;
@import '@syncfusion/ej2-splitbuttons/styles/material3.css' screen;
@import '@syncfusion/ej2-react-schedule/styles/material3.css' screen;
@import '@syncfusion/ej2-base/styles/material3-dark.css' screen and
  (prefers-color-scheme: dark);
@import '@syncfusion/ej2-buttons/styles/material3-dark.css' screen and
  (prefers-color-scheme: dark);
@import '@syncfusion/ej2-calendars/styles/material3-dark.css' screen and
  (prefers-color-scheme: dark);
@import '@syncfusion/ej2-dropdowns/styles/material3-dark.css' screen and
  (prefers-color-scheme: dark);
@import '@syncfusion/ej2-inputs/styles/material3-dark.css' screen and
  (prefers-color-scheme: dark);
@import '@syncfusion/ej2-lists/styles/material3-dark.css' screen and
  (prefers-color-scheme: dark);
@import '@syncfusion/ej2-navigations/styles/material3-dark.css' screen and
  (prefers-color-scheme: dark);
@import '@syncfusion/ej2-popups/styles/material3-dark.css' screen and
  (prefers-color-scheme: dark);
@import '@syncfusion/ej2-splitbuttons/styles/material3-dark.css' screen and
  (prefers-color-scheme: dark);
@import '@syncfusion/ej2-react-schedule/styles/material3-dark.css' screen and
  (prefers-color-scheme: dark);

@import 'tailwindcss/utilities';

html,
body,
#__next {
  padding: 0;
  margin: 0;
  height: 100%;
  width: 100%;
  background-color: rgb(var(--light-DEFAULT));
}

* {
  box-sizing: border-box;
}

@layer utilities {
  .bg-lighten {
    background-color: rgba(255, 255, 255, 0.6);
  }
  .bg-darken {
    background-color: rgba(0, 0, 0, 0.6);
  }
}
